@model IEnumerable<MVCDemo.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Pojazdy</h1>

<p>
    <a asp-action="Create">Wygeneruj dane</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Typ silnika
            </th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.EnergyType
                </td>
            </tr>
        } *@
    </tbody>
</table>