@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Naucz się o <a href="https://docs.microsoft.com/aspnet/core">zbuduj aplikację typu Web z technologią ASP.NET
            Core</a>.</p>
</div>
